[defaults]
inventory = ./inventories/production/hosts.yml
remote_user = ubuntu
private_key_file = ~/.ssh/id_rsa_ansible
host_key_checking = False
retry_files_enabled = False
stdout_callback = yaml
bin_ansible_callbacks = True
roles_path = ./roles
collections_paths = ./collections

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
control_path_dir = ~/.ansible/cp
pipelining = True